In [8]:
#Introduction to Lambda
def square(x):
    return x ** 2

square_lambda = lambda x: x ** 2

print(square(4))  # Output: 16
print(square_lambda(4))  # Output: 16
print(type(square_lambda))  # Output: <class 'function'>

16
16
<class 'function'>

 A function square that calculates the square of a given number x, and then defines a lambda function square_lambda that does the same. The code then calls both the square function and the square_lambda lambda function with the input 4 and prints the results. Finally, it checks and prints the type of the square_lambda lambda function, which is <class 'function'>.

In [9]:
# Functions
def square(x):
    return x ** 2

def subtract_two(x):
    return x - 2

function_list = [square, subtract_two]

number = 5
for func in function_list:
    number = func(number)
    print(number)

25
23

This code defines two functions square and subtract_two, creates a list function_list containing these two functions, initializes a variable number with the value 5, and then iterates over the functions in function_list, applying each function to the number variable and updating its value. Finally, it prints the updated number value after each function is applied.

In [10]:
# Nameless
number = 1
# List of lambda functions performing different operations
lambda_list = [
    lambda x: x - 1,
    lambda x: x * 2,
    lambda x: x + 2
]

for func in lambda_list:
    number = func(number)
    print(number)

0
0
2

This code defines two functions square and subtract_two, creates a list function_list containing these two functions, initializes a variable number with the value 5, and then iterates over the functions in function_list, applying each function to the number variable and updating its value. Finally, it prints the updated number value after each function is applied.

In [11]:
from functools import reduce

numbers = [1, 2, 3, 4, 5]
sum_result = reduce(lambda x, y: x + y, numbers)
print("Sum:", sum_result)
product_result = reduce(lambda x, y: x * y, numbers)
print("Product:", product_result)

Sum: 15
Product: 120

This code uses the reduce function from the functools module to compute the sum and product of the numbers in the list [1, 2, 3, 4, 5]. The reduce function applies a function of two arguments cumulatively to the items of a sequence, reducing it to a single value.

The first reduce call computes the sum of the numbers by adding each element in the list to the accumulator. The second reduce call computes the product of the numbers by multiplying each element in the list to the accumulator. The code then prints the sum and product of the numbers.

In [12]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.normal(0, 1, (10, 2)))
df.columns = ['height', 'weight']
tall_people = df.loc[lambda d: d['height'] > 0]
print("DataFrame with tall people:")
print(tall_people)

DataFrame with tall people:
     height    weight
1  0.474614  0.339806
7  1.488412 -0.661579
8  1.363281 -0.314838

This code generates a DataFrame with random numbers, assigns names to the columns as 'height' and 'weight', filters the rows to only include rows where the 'height' column is greater than 0, and then prints out the resulting DataFrame containing only the rows with tall people (height > 0).